<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Железнодорожные_переезды.Properties.Settings.Железнодорожные_переездыConnectionString"
            connectionString="Data Source=DESKTOP-8FRQK4J\SQLEXPRESS;Initial Catalog=&quot;Железнодорожные переезды&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Железнодорожные_переезды.Properties.Settings.АвтовокзалConnectionString"
            connectionString="Data Source=DESKTOP-8FRQK4J\SQLEXPRESS;Initial Catalog=Автовокзал;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>