<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Zero.Properties.Settings.Unilife_byfConnectionString"
            connectionString="Data Source=WINSERVER-2019\SQLEXPRESS;Initial Catalog=Unilife_byf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_Zero.Properties.Settings.Unilife_byfConnectionString1"
            connectionString="Data Source=DESKTOP-8FRQK4J\SQLEXPRESS;Initial Catalog=Unilife_byf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_Zero.Properties.Settings.Электроный_журналConnectionString"
            connectionString="Data Source=DESKTOP-8FRQK4J\SQLEXPRESS;Initial Catalog=&quot;Электроный журнал&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_Zero.Properties.Settings.Электронный_журналConnectionString"
            connectionString="Data Source=DESKTOP-8FRQK4J\SQLEXPRESS;Initial Catalog=Электронный_журнал;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>